<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fragments modal-windows</title>
</head>
<body>

<!--Edit Modal-->
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="modalEdit">

    <div class="modal fade" id="editModal" tabindex="-1"
         role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!--Modal Header-->
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="editModalLabel">
                        Edit
                        user</h5>
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--Modal body-->
                <div class="modal-body d-flex justify-content-center align-items-center">
                    <form method="post" id="filledForm">

                        <div class="form-group text-center">
                            <a for="editId"
                                   class="text font-weight-bold text-dark">ID</a>
                            <input type="text" class="form-control" id="editId" name="id"
                                   readonly>
                        </div>

                        <div class="form-group text-center">
                            <a for="editFirstName"
                                   class="text font-weight-bold text-dark">First Name</a>
                            <input type="text" class="form-control card-form"
                                   id="editFirstName"
                                   name="firstName"
                                   placeholder="First Name">
                        </div>

                        <div class="form-group text-center">
                            <a for="editLastName"
                                   class="text font-weight-bold text-dark">Last Name</a>
                            <input type="text" class="form-control"
                                   id="editLastName"
                                   name="lastName"
                                   placeholder="Last Name">
                        </div>

                        <div class="form-group text-center">
                            <a for="editAge"
                                   class="text font-weight-bold text-dark">Age</a>
                            <input type="number" class="form-control"
                                   id="editAge"
                                   name="age"
                                   placeholder="Age">
                        </div>

                        <div class="form-group text-center">
                            <a for="editEmail"
                                   class="text font-weight-bold text-dark">Email</a>
                            <input type="email" class="form-control"
                                   id="editEmail"
                                   name="email"
                                   placeholder="Email">
                        </div>

                        <div class="form-group text-center">
                            <a for="editPassword"
                                   class="text font-weight-bold text-dark">Password</a>
                            <input type="password" class="form-control"
                                   id="editPassword"
                                   name="password"
                                   placeholder="Password">
                        </div>

                        <div class="form-group text-center">
                            <a for="editRoles"
                                   class="text font-weight-bold text-dark">Roles</a>
                            <select multiple size="2" id="editRoles"
                                    name="editRoles"
                                    class="form-control">
                                <option value="1">ADMIN</option>
                                <option value="2">USER</option>
                            </select>
                        </div>

                        <!--Modal footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary" id="eBtn">
                                Edit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>

<!--Modal Delete-->
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="modalDelete">

    <div class="modal fade" id="deleteModal" tabindex="-1"
         role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!--Modal Header-->
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Delete
                        user</h5>
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--Modal body-->
                <div class="modal-body d-flex justify-content-center fw-bold text-center">
                    <form method="post" id="deleteForm">

                        <div class="form-group text-center">
                            <a for="delId"
                               class="text font-weight-bold text-dark">ID</a>
                            <input type="number" class="form-control" id="delId"
                                   name="id" disabled="disabled">
                        </div>

                        <div class="form-group text-center">
                            <a for="delFirstName"
                               class="text font-weight-bold text-dark">First Name</a>
                            <input type="text" class="form-control"
                                   id="delFirstName"
                                   name="firstName" disabled="disabled">
                        </div>

                        <div class="form-group text-center">
                            <a for="delLastName"
                               class="text font-weight-bold text-dark">Last Name</a>
                            <input type="text" class="form-control"
                                   id="delLastName"
                                   name="lastName" disabled="disabled">
                        </div>

                        <div class="form-group text-center">
                            <a for="delAge"
                               class="text font-weight-bold text-dark">Age</a>
                            <input type="number" class="form-control"
                                   id="delAge"
                                   name="age" disabled="disabled">
                        </div>

                        <div class="form-group text-center">
                            <a for="delEmail"
                               class="text font-weight-bold text-dark">Email</a>
                            <input type="text" class="form-control"
                                   id="delEmail"
                                   name="email" disabled="disabled">
                        </div>

                        <div class="form-group text-center"
                             disabled="disabled">
                            <a for="delRoles"
                               class="text font-weight-bold text-dark">Roles</a>
                            <select class="custom-select form-control" multiple size="2"
                                    id="delRoles"
                                    name="role_select">
                                <option value="ADMIN"
                                        disabled="disabled">ADMIN
                                </option>
                                <option value="USER"
                                        disabled="disabled">USER
                                </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">
                                Close
                            </button>
                            <button type="button"
                                    class="btn btn-danger" id="dBtn">
                                Delete
                            </button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>