<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
          rel="stylesheet" crossorigin="anonymous">

</head>
<body>
<div class="container" wfd-id="0">
    <form class="form-signin" method="post" action="/login" wfd-id="1">
        <h2 class="form-signin-heading">Please sign in</h2>

            <label for="username" class="sr-only has-primary" wfd-id="3">Username</label>
            <input type="text" id="username" name="username" class="form-control"
                   placeholder="Username" required="" autofocus="" wfd-id="5">
            <kpm-button class="_1mUok1yqu_fHkbNOXVoU6l kpm_input-field-button kpm_gray-key-icon"
                        style="z-index: 3 !important;">
<path fill-rule="evenodd" clip-rule="evenodd"
      d="M6 7.46487C7.1956 6.77325 8 5.48056 8 4C8 1.79086 6.20914 0 4 0C1.79086 0 0 1.79086 0 4C0 5.48056 0.804397 6.77325 2 7.46487V9H3V10H2V12H3V13H2V14.5L4 16L6 14.5V7.46487ZM5 3C5 3.55228 4.55229 4 4 4C3.44772 4 3 3.55228 3 3C3 2.44772 3.44772 2 4 2C4.55229 2 5 2.44772 5 3ZM4 8H5V14H4V8Z">
</path>
</svg>
</kpm-button>
<p>
    <label for="password" class="sr-only has-primary" wfd-id="2">Password</label>
    <input type="password" id="password" name="password" class="form-control"
           placeholder="Password" required="" wfd-id="4">
    <kpm-button class="_1mUok1yqu_fHkbNOXVoU6l kpm_input-field-button kpm_gray-key-icon"
                style="z-index: 3 !important;">

        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M6 7.46487C7.1956 6.77325 8 5.48056 8 4C8 1.79086 6.20914 0 4 0C1.79086 0 0 1.79086 0 4C0 5.48056 0.804397 6.77325 2 7.46487V9H3V10H2V12H3V13H2V14.5L4 16L6 14.5V7.46487ZM5 3C5 3.55228 4.55229 4 4 4C3.44772 4 3 3.55228 3 3C3 2.44772 3.44772 2 4 2C4.55229 2 5 2.44772 5 3ZM4 8H5V14H4V8Z">
        </path>
        </svg>
    </kpm-button>
<button class="btn btn-lg btn-primary btn-block" type="submit" wfd-id="6">Sign in</button>
</form>
</div>
</body>
</html>
