<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<div th:replace="fragments/header :: header"></div>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid">

    <div class="row mx-md-n0">

        <div th:replace="fragments/navbar :: sidebar"></div>

        <div class="col-10 vh-100" style="background-color: whitesmoke">
            <div class="container">
                <br>
                <div class="row">
                    <div class="col">
                        <h1>Admin panel</h1>
                    </div>
                </div>

                <nav>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link tabb active" id="home-tab" data-toggle="tab"
                               data-target="#home"
                               type="button" role="tab" aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link tabb text-primary" id="profile-tab" data-toggle="tab"
                               data-target="#profile" type="button" role="tab" aria-controls="profile"
                               aria-selected="false">New user</a>
                        </li>
                    </ul>
                </nav>

                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active admin" id="home" role="tabpanel"
                         aria-labelledby="home-tab">

                        <div class="card">
                            <h5 class="card-header">All users</h5>
                            <div class="card-body">

                                <div class="col" style="background-color: white">
                                    <br>
                                    <table class="table table-striped border-top"
                                           id="usersTable">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody class="usersBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Users Table-->

                    <div class="tab-pane fade fluid" id="profile" role="tabpanel"
                         aria-labelledby="profile-tab">
                        <div class="card">
                            <h5 class="card-header">Add new user</h5>
                            <br>
                            <form method="post" id="addUserForm">
                                <div class="row justify-content-center align-items-center form-row text-center">
                                    <div class="col-4">

                                        <form role="form">

                                            <div class="form-group text-center">
                                                <a for="newFirstName"
                                                       class="text font-weight-bold text-dark">
                                                    First name
                                                </a>
                                                <input type="text"
                                                       class="form-control"
                                                       id="newFirstName"
                                                       placeholder="First name"
                                                       name="firstName">
                                            </div>
                                            <div class="form-group text-center">
                                                <a for="newLastName"
                                                       class="text font-weight-bold text-dark">
                                                    Last name
                                                </a>
                                                <input type="text"
                                                       class="form-control"
                                                       id="newLastName"
                                                       placeholder="Last name"
                                                       name="lastName">
                                            </div>
                                            <div class="form-group text-center">
                                                <a for="newAge"
                                                       class="text font-weight-bold text-dark">
                                                    Age
                                                </a>
                                                <input type="number"
                                                       class="form-control"
                                                       id="newAge"
                                                       placeholder="Age"
                                                       name="age">
                                            </div>
                                            <div class="form-group text-center">
                                                <a for="newEmail"
                                                       class="text font-weight-bold text-dark">
                                                    Email
                                                </a>
                                                <input type="email"
                                                       class="form-control"
                                                       id="newEmail"
                                                       placeholder="Email"
                                                       name="email">
                                            </div>
                                            <div class="form-group text-center">
                                                <a for="newPassword"
                                                       class="text font-weight-bold text-dark">
                                                    Password
                                                </a>
                                                <input type="password"
                                                       class="form-control"
                                                       id="newPassword"
                                                       placeholder="Password"
                                                       name="password">
                                            </div>
                                            <div class="form-group text-center">
                                                <a for="newUserRoles"
                                                       class="text font-weight-bold text-dark">
                                                    Role
                                                </a>
                                                <select multiple size="2" name="role_select"
                                                        id="newUserRoles"
                                                        class="form-control newUserRoles">
                                                    <option value="1">ADMIN</option>
                                                    <option value="2">USER</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-success"
                                                    id="aBtn">
                                                Add new user
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <br>
                            </form>
                            <br>
                        </div>
                    </div>

                    <!--The Modal-->
                    <div th:replace="fragments/modal-windows :: modalEdit"></div>


                    <!--The Modal-->
                    <div th:replace="fragments/modal-windows :: modalDelete"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>


