<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<div th:replace="fragments/header :: header"></div>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid">

    <div class="row mx-md-n0">

        <div th:replace="fragments/navbar :: sidebarForUser"></div>

        <div class="col-10 vh-100" style="background-color: whitesmoke">
            <div class="container">
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col">
                            <h1>User information-page</h1>
                        </div>
                    </div>

                    <div class="col border">

                        <div class="tab-content p-2" id="nav-tabContent">

                            <div class="tab-pane fade show active" id="userInfo" role="tabpanel"
                                 aria-labelledby="v-pills-profile-tab"><h5>About user</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">

                    <div class="col border" style="background-color: white">
                        <br>
                        <table id="UserInfoTable" class="table table-striped border-top">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody id="userInformation">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/scripts :: scriptsForUser"></div>

</body>
</html>